{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": { "node": "current" }
        }],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    }
  }
}