<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@4.3.3/dist/css/swiper.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tui-vue-turnplate@0.0.3/src/style.css">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>
    <script src="dist/tui-vue-logger.min.js"></script>
    <script src="dist/tui-vue-qrcode.min.js"></script>
    <script src="dist/tui-vue-barcode.min.js"></script>
    <script src="dist/tui-vue-highcharts.min.js"></script>
    <script src="dist/tui-vue-swiper.min.js"></script>
    <script src="dist/tui-vue-turnplate.min.js"></script>
    <script src="dist/tui-vue-player.min.js"></script>
    <style>
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color:#000;
        opacity: 1;
        background: rgba(0,0,0,0.2);
      }
      .swiper-pagination-bullet-active {
        color:#fff;
        background: #007aff;
      }
      .turn {
        position: relative;
        width: 300px;
        height: 300px;
      }

      .gift {
        position: absolute;
        z-index: 33;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        background: #fff;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container card-body">
      <div class="card-header">
        <!-- Navbar content -->
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item"
              v-for="i in menu"
              :key="i">
            <a @click="changeActive(i)" class="nav-link" :class="{'active': i === active}">{{i}}</a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-body" v-if="active === 'swiper'">
          <swiper :height="300" :options="options">
            <swiper-slide v-for="i in 5" :key="i">{{i}}</swiper-slide>
            <div slot="pagination" class="swiper-pagination"></div>
            <div slot="next" class="swiper-button-next"></div>
            <div slot="prev" class="swiper-button-prev"></div>
          </swiper>
        </div>
        <div class="card-body" v-if="active === 'highcharts'">
          <div class="form-group">
            <label for="type">Type</label>
            <select v-model="type" class="form-control">
              <option value="line">line</option>
              <option value="pie">pie</option>
              <option value="bar">bar</option>
              <option value="column">column</option>
            </select>
          </div>
          <highcharts :options="options"></highcharts>
        </div>
        <div class="card-body" v-if="active === 'code'">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" placeholder="Enter code" v-model="code">
          </div>
          <p>
            <qrcode v-model="code"></qrcode>
          </p>
          <p>
            <barcode v-model="code"></barcode>
          </p>
        </div>
        <div class="card-body" v-if="active === 'turnplate'">
          <div class="turn">
            <turnplate :gift="prizeList"
                       :get-result="getResult"
                       :disabled="disabled"
                       :show-gift="showGift">{{disabled ? 'OVER' : 'GO'}}</turnplate>
            <div class="gift" v-if="show">{{gift.type === 3 ? gift.name : `恭喜获得${gift.name}${gift.content}`}}</div>
          </div>
        </div>
        <div class="card-body" v-if="active === 'player'">
          <a class="btn" @click="showPlay = true">音频播放</a>
          <vue-player ref="player" miniable :list="list" v-if="showPlay" @close="showPlay = false"></vue-player>
        </div>
      </div>
    </div>
    <script>
      Vue.use(tuiVueLogger)
      Vue.use(tuiVueSwiper)
      Vue.use(tuiVuePlayer)

      Vue.component(tuiVueQrcode.name, tuiVueQrcode)
      Vue.component(tuiVueBarcode.name, tuiVueBarcode)
      Vue.component(tuiVueHighcharts.name, tuiVueHighcharts)
      Vue.component(tuiVueTurnplate.name, tuiVueTurnplate)

      const app = new Vue({
        el:'#app',
        data() {
          return {
            list: [
              {
                name: 'Not a Sad Song.mp3',
                src: './static/sample.mp3',
              },
            ],
            showPlay: false,
            code: 'Hello, World!',
            type: 'line',
            prizeList: [
              {
                type: 1,
                number: 1,
                name: '一等奖',
                content: '电子券50-50',
              },
              {
                type: 1,
                number: 2,
                name: '二等奖',
                content: '电子券30-30',
              },
              {
                type: 1,
                number: 3,
                name: '三等奖',
                content: '电子券20-20',
              },
              {
                type: 1,
                number: 4,
                name: '四等奖',
                content: '电子券10-10',
              },
              {
                type: 2,
                number: 5,
                name: '五等奖',
                content: '玩偶',
              },
              {
                type: 3,
                number: 6,
                name: '谢谢参与',
                content: '',
              },
            ],
            gift: {},
            show: false,
            disabled: false,
            active: 'code',
            menu: ['code', 'highcharts', 'turnplate', 'swiper', 'player']
          }
        },
        created() {
          this.log('Hello World!')
        },
        computed: {
          options() {
            return {
              // swiper配置
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                  return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
              },
              // Navigation arrows
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              loop: true,
              // highcharts配置
              series: [
                { name: 'Other',
                  data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
                }
              ],
              chart: {
                height: 300,
                type: this.type
              },
              credits:{
                enabled: false
              },
              title: {
                text: ''
              },
              legend: {
                enabled: false
              },
            }
          }
        },
        methods: {
          changeActive (i) {
            this.active = i
          },
          getResult() {
            return new Promise((resolve, reject) => {
              const num = Math.round(Math.random()*5)
              this.gift = this.prizeList[num]
              resolve(this.gift.number)
            })
          },
          showGift() {
            this.show = true
            setTimeout(() => {
              this.show = false
            }, 1500)
          },
        },
      })
    </script>
  </body>
</html>
